Source: plover
Maintainer: Thomas Thurman <thomas@thurman.org.uk>
Section: python
Priority: optional
Build-Depends: python-all (>= 2.6.6-3), debhelper (>= 7.4.3)
Standards-Version: 3.9.4

Package: plover
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Homepage: http://ploversteno.org
Description: Stenotype input method
 Plover is a stenotype input method for X11. It allows input of English text
 using chords rather than letter by letter, enabling typing speeds to
 approach 300wpm for a skilled user. It can use a dedicated stenotype
 machine, or a standard QWERTY keyboard as long as it permits chords to
 be passed to the computer.
 .
 Plover is written in Python. The licence is GPL v2. Its name rhymes with 
 "lover", not "over", just as with the name of the wading bird.

